@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background-image: url('https://i.pinimg.com/originals/3b/0a/7c/3b0a7c17186c7c3f7de9fa4e49f50117.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

/* Window Controls */
.window-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.window-controls button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.window-controls button:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Start Page */
#start-page, #menu-page, #recommendations-page, #msa-page {
  background-color: rgba(214, 197, 252, 0.73);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #b38bff;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #9a6ad3;
}

.button-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: rgb(202, 173, 250);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
}

input[type="checkbox"]:checked + label {
  color: #4b0082;
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
}
